<%= link_to "Download PDF", download_document_path(@document, format: "pdf"), class: "btn btn-primary" %>

<div class="container">
  <div class="logo">
    <%= image_tag "https://res.cloudinary.com/banfox/image/upload/v1557851460/logo/logo-w-name.png"  %>
  </div>
  <h1 class="text-center">Termo da Operação</h1>
  <h3 class="text-center">Informações Gerais</h3>
  <div class="general-info section-wrapper">
    <p class="no-margin-bottom">Número da Operação: <%= @content[:operation][:id] %> </p>
    <p>Operação realizada em:  <%= l(Time.parse(@content[:operation][:time]), format: "%d de %B de %Y") %></p>
    <div class="contract-parties">
      <div class="contract-party">
        <p class="no-margin-bottom">"<strong>Você</strong>"</p>
        <p class="no-margin-bottom"><%= @content[:seller][:company_name].mb_chars.titleize %></p>
        <p class="no-margin-bottom"><%= @content[:seller][:cnpj] %></p>
        <p class="no-margin-bottom"><%= @content[:seller][:address].mb_chars.titleize %></p>
        <p class="no-margin-bottom"><%= @content[:seller][:city].mb_chars.titleize %> (<%= @content[:seller][:state].mb_chars.upcase  %>)</p>
        <p class="no-margin-bottom"><%= @content[:seller][:zip_code] %></p>
        <p><%= @content[:seller][:email] %></p>
      </div>
      <div class="contract-party">
        <p class="no-margin-bottom">"<strong>Banfox</strong>" (sua melhor amiga!)</p>
        <p class="no-margin-bottom">MVP Fomento Mercantil Ltda.</p>
        <p class="no-margin-bottom">23.198.636/0001-95</p>
        <p class="no-margin-bottom">Avenida Angélica, 2529</p>
        <p class="no-margin-bottom">São Paulo (SP)</p>
        <p class="no-margin-bottom">01227-200</p>
        <p>joao@banfox.com.br</p>
      </div>
    </div>
  </div>

  <h3 class="text-center">Resumo da Operação</h3>
  <div class="operation-summary section-wrapper">
    <div class="summary-header">
      <div class="calculus">
        <p class="no-margin-bottom identation-sm">Total Bruto dos Créditos: <%= @content[:operation][:gross_value] %></p>
        <p class="no-margin-bottom font-sm line-height-sm"> <i class="fas fa-minus"></i> </p>
        <p class="no-margin-bottom identation-sm">Taxa: <%= @content[:operation][:fee] %>  <span class="small-letters">(viu?! não tem nenhuma taxa escondida, é só esta mesmo!)</span></p>
        <p class="no-margin-bottom result-notation identation-sm">Valor líquido total: <%= @content[:operation][:net_value] %></p>
        <p class="no-margin-bottom identation-md"> <i class="far fa-calendar-alt font-light-gray font-small"></i> Primeiro depósito total: <%= @content[:operation][:first_deposit] %> </p>
        <p class="identation-md"> <i class="far fa-calendar-alt font-light-gray font-small"></i> Proteção total: <%= @content[:operation][:protection] %> </p>
      </div>
      <div class="calculus-explanation">
        <p>Os valores referentes à proteção, indicados na tabela abaixo (ali onde está escrito "Proteção" mesmo, no finalzinho) serão imediatamente depositados para Você quando o “<strong>Valor Bruto</strong>” for pago à Banfox. Desse jeito, podemos reduzir sua taxa e ajudá-lo com aqueles atrasos inesperados, olha que incrível! Se quiser saber mais detalhes é só olhar o item 4 da parte "Detalhes de como funciona a operação".</p>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>Sacado</th>
          <th>CPF/CNPJ</th>
          <th>Nº</th>
          <th class="text-center">Vencimento</th>
          <th class="text-center">Prazo</th>
          <th class="text-right">Valor bruto</th>
          <th class="text-right">Taxa</th>
          <th class="text-right">Líquido</th>
          <th class="text-right">1º depósito</th>
          <th class="text-right">Proteção</th>
        </tr>
      </thead>
      <tbody>
        <% @content[:installments].each do |installment| %>
          <tr>
            <td><%= installment[:payer_company_name].mb_chars.titleize %></td>
            <td><%= installment[:registration] %></td>
            <td><%= installment[:number] %></td>
            <td class="text-center"><%= installment[:due_date] %></td>
            <td class="text-center"><%= installment[:outstanding_days] %></td>
            <td class="text-right"><%= installment[:value] %></td>
            <td class="text-right"><%= installment[:fee] %></td>
            <td class="text-right"><%= installment[:net_value] %></td>
            <td class="text-right"><%= installment[:first_deposit] %></td>
            <td class="text-right"><%= installment[:protection] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>
  <h3 class="text-center">Detalhes de como funciona a operação</h3>
  <div class="contract-details section-wrapper">
    <h3>1.</h3>
    <p>No presente documento <strong>(“Termo de Operação”)</strong> que trata da antecipação dos recebíveis acima indicados <strong>(“Créditos”)</strong>, Você encontrará as principais informações de que precisa. Mas, não se esqueça; o presente Termo de Operação é complementar ao <strong>“Contrato Geral de Fomento Mercantil”</strong> (que foi o primeiro contrato que você assinou conosco, lembra?). O Contrato Geral de Fomento Mercantil e o Termo de Operação contém todas as informações necessárias e, caso você tenha qualquer dúvida, não prossiga! Entre em contato imediatamente que teremos o maior prazer em ajudar. Lembre-se, a Banfox é sua melhor amiga! 💙</p>
    <h3>2.</h3>
    <p>Quando falamos <strong>“Operação”</strong>, queremos dizer a compra e a venda dos créditos aqui discriminados, pelos valores indicados neste Termo de Operação, com os quais Você e seus responsáveis solidários, descritos na página de assinaturas concordam. Ah, caso Você tenha ficado com dúvidas, os <strong>“Responsáveis Solidários”</strong> são aqueles que também responderão pela liquidação dos Créditos, caso a Banfox não receba o pagamento diretamente de Você ou de seus clientes, no prazo combinado. Os Responsáveis Solidários renunciam expressa e irrevogavelmente, ao benefício de ordem estabelecido no Código Civil, reciprocamente constituindo cada qual como seu bastante procurador, através de mandato irrevogável e irretratável, outorgando-se, mútua e reciprocamente, os mais amplos, gerais e ilimitados poderes para qualquer deles, em nome de cada um dos devedores, receberem citação em ações que tenham por objeto a presente Operação.</p>
    <h3>3.</h3>
    <p>Lembre-se que Você é devedora da Banfox, da dívida líquida, certa e exigível definida no Resumo da Operação no campo <strong>“Total Bruto dos Créditos”</strong>, a qual será paga conforme a(s) data(s) de vencimento do(s) título(s) indicado(s) neste Termo de Operação, salvo quando o vencimento recair em feriado ou final de semana, quando então se prorrogará para o primeiro dia útil subsequente. Você e os Responsáveis Solidários respondem pela liquidação dos Créditos e pela solvência dos devedores principais.</p>
    <h3>4.</h3>
    <p>Em caso de atraso no pagamento do título superior a 3 (três) dias úteis, não se preocupe. A Proteção está aí para ajudar. Ficou com dúvida? Sua melhor amiga explica:</p>
    <p>A <strong>“Proteção”</strong> é um valor que deixamos reservado e que, quando a Banfox recebe o pagamento do valor do título, devolvemos a Proteção para você, sem correção. E, assim como nossa taxa é simples e transparente para ajudá-lo, este recurso também não fugiria à regra. Além de fornecer mais segurança para a Operação, reduzindo a taxa, caso ocorra algum imprevisto e a data de pagamento do título tenha de ser prorrogada, poderemos utilizar, ao nosso critério, a Proteção para abater o valor da atualização da taxa, em razão da nova data de vencimento. Multa? Juros? Nada disso! Atualizamos o valor da sua taxa exatamente no valor do seu Fator e Ad valorem, considerando o prazo da prorrogação. Incrível, não é mesmo? Ah, lembre-se, poderá ocorrer somente por duas vezes e um prazo máximo (total) de 45 (quarenta e cinco) dias de prorrogação. Após esse prazo o título deverá ser recomprado, ok? Se ficar com dúvida, não hesite em ligar para a Banfox.</p>
    <h3>5.</h3>
    <p>Sabemos que, em toda relação de amizade, às vezes, atritos acontecem. Nesse caso, nos preocupamos tanto com Você que já deixamos claro o que acontecerá. Ah, outra coisa, pode esquecer aquelas “letrinhas” pequenas. Amigo fala sempre a verdade, na cara, sem medo. Então, veja o que acontecerá:</p>
    <p>A falta de pagamento, após 15 (quinze) dias do vencimento de um ou mais Créditos acima elencados <strong>(“Inadimplência”)</strong>, importará no vencimento integral e antecipado de todo o débito do título em questão, além do acréscimo de correção monetária (IGPM/FGV), juros moratórios à taxa de 1,00% (um por cento) ao mês e multa de 10,00% (dez por cento) sobre o total do título. </p>
    <h3>6.</h3>
    <p>Você declara ter recebido o valor líquido descrito neste termo, da qual dá a mais plena, rasa e geral quitação.</p>
    <h3>7.</h3>
    <p>Você, os Responsáveis Solidários e a Banfox declaram que o presente Termo de Operação poderá ser assinado por meio eletrônico, sendo consideradas válidas as referidas assinaturas (digitais e/ou eletrônicas), nos termos do art. 10 parágrafo 2º da MP 2200-2/2001.</p>
  </div>

  <div class="text-center">
  <span>São Paulo, <%= l(Time.parse(@content[:operation][:time]), format: "%d de %B de %Y") %>.</span>
  </div>
  <br>

  <h3 class="text-center">Assinaturas</h3>
  <div class="signatures section-wrapper">
    <h5><p>Partes</p></h5>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <p class="no-margin-bottom signature-line text-center"><%= @content[:seller][:company_name].mb_chars.titleize %></p>
          <br>
        </div>
        <div class="col-6">
          <p class="no-margin-bottom signature-line text-center">MVP Fomento Mercantil Ltda.</p>
          <br>
        </div>
      </div>
    </div>
    <h5><p>Responsáveis Solidários</p></h5>
    <div class="container">
    <div class="row">
      <% @content[:signers].each do |signer| %>
        <% if signer[:sign_as].include? "joint_debtor" %>
          <div class="col-6">
            <p class="no-margin-bottom signature-line text-center"><%= signer[:name].mb_chars.titleize %></p>
            <p class="no-margin-bottom text-center"><%= signer[:documentation] %></p>
            <p class="no-margin-bottom text-center"><%= signer[:email] %></p>
            <br>
          </div>
        <% end %>
      <% end %>
    </div>
    </div>
    <h5><p>Testemunhas</p></h5>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <p class="no-margin-bottom signature-line">Nome:</p>
          <p class="no-margin-bottom">RG:</p>
          <p class="no-margin-bottom">CPF/MF:</p>
          <br>
        </div>
        <div class="col-6">
          <p class="no-margin-bottom signature-line">Nome:</p>
          <p class="no-margin-bottom">RG:</p>
          <p class="no-margin-bottom">CPF/MF:</p>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>

